*{margin: 0; padding: 0;}

body{box-sizing: border-box;}

.card.lesson-box{
    opacity: 1;
    pointer-events: auto;

    position: absolute;
    left: 13%;
    top: 10%;
}

.card.lesson-box.hidden
{
    display: none;
}

.card-header span
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.degerlendirme.hidden
{
    display: none;
}

.degerlendirme
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-left: 11%;
}

table input
{
    width: 100%;
}

#ogrenimCiktisi
{
    width: 5%;
}

